@model List<Book>
@{
    ViewData["Title"] = "Book";
}

<div class="text-center">
    <h1 class="display-4">Books</h1>
    <ul style= "list-style-type : none;">
        @foreach (var Book in Model)
        {
            <li>@Book.Title</li>
            <img src="@Book.CoverImageUrl" alt="@Book.Title" width="200px"/>
            <li>By
            @foreach (var author in Book.Authors)
            {
                <li>@author.Name</li>
            }
            </li>
            <li>@Book.Blurb</li>
            <br><br>
            
        }
        
    </ul>
</div>
